/** @format */

.text-input {
    position: relative;
}

.text-input input {
    color: hsl(var(--theme-color));
    box-shadow: none;
    width: 100%;
    display: block;
    border: none;
    outline: transparent;
    background-color: transparent;
    padding: 0 0 0.2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    border-bottom: 2px solid hsl(var(--theme-color), 0.3);
}

.text-input input + div {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: hsl(var(--theme-color));
    transition: all 0.3s ease-in-out;
}

.text-input input:focus ~ div {
    width: 100%;
}

input[type="radio"] {
    display: none;
}

.radio-input,
select {
    margin-bottom: 0.8rem;
    cursor: pointer;
    min-height: 2.5rem;
    display: flex;
    gap: 0.5rem;
    min-width: 14rem;
    max-width: 100%;
    font-weight: 700;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: solid 1px hsl(var(--theme-color));
    color: hsl(var(--theme-color));
    background-color: hsl(var(--theme-color), 0.1);
}

option {
    color: hsl(var(--theme-color), #fff);
}

input[type="radio"]:checked + .radio-input {
    outline: solid 1px hsl(var(--theme-color));
}
.radio-index {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.125rem;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 700;
    background-color: #ffffff;
    color: hsl(var(--theme-color));
    border: solid 1px hsl(var(--theme-color));
}

input[type="radio"]:checked + .radio-input .radio-index {
    background-color: hsl(var(--theme-color));
    color: #ffffff;
}
.radio-input:hover,
select:hover {
    background-color: hsl(var(--theme-color), 0.3);
}
